.sticky-notes-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows:    repeat(4, 1fr); */
  /* column-gap:  5rem; */
  /* justify-items: center; */
  align-self: center;
}

@media screen and (max-width: 1280px) {
  .sticky-notes-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .sticky-notes-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
